@import url(http://fonts.googleapis.com/css?family=Lobster);
/* line 19, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/mixins.sass */
.border-tester {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: black;
  width: 100px;
  height: 100px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 4, ../../../sass/shoestring/grid.sass */
html {
  font-size: 100%; }

@media (min-width: 40rem) {
  /* line 9, ../../../sass/shoestring/grid.sass */
  html {
    font-size: 112%; } }
@media (min-width: 64rem) {
  /* line 14, ../../../sass/shoestring/grid.sass */
  html {
    font-size: 120%; } }
/* line 17, ../../../sass/shoestring/grid.sass */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 20, ../../../sass/shoestring/grid.sass */
.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%; }
  /* line 24, ../../../sass/shoestring/grid.sass */
  .container.demo {
    margin-bottom: 10px; }

/* line 28, ../../../sass/shoestring/grid.sass */
.column.demo {
  background: #cccccc; }

/* line 30, ../../../sass/shoestring/grid.sass */
.full-width-container {
  margin: 0 auto;
  width: 100%; }

@media (min-width: 40rem) {
  /* line 35, ../../../sass/shoestring/grid.sass */
  .column {
    float: left;
    padding-right: 0;
    margin-right: 1rem; }
    /* line 39, ../../../sass/shoestring/grid.sass */
    .column.full {
      width: 100%; }
    /* line 41, ../../../sass/shoestring/grid.sass */
    .column.two-thirds {
      width: 63.7%; }
    /* line 43, ../../../sass/shoestring/grid.sass */
    .column.third {
      width: 31.2%; }
    /* line 45, ../../../sass/shoestring/grid.sass */
    .column.half {
      width: 47.5%; }
    /* line 47, ../../../sass/shoestring/grid.sass */
    .column.fourth {
      width: 22.5%; }
    /* line 49, ../../../sass/shoestring/grid.sass */
    .column.fourth-padded {
      width: 23%;
      margin-right: 2%; }
    /* line 52, ../../../sass/shoestring/grid.sass */
    .column.flow-opposite {
      float: right;
      padding-right: 0;
      margin-right: 0; } }
/* line 3, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/links.sass */
a {
  color: #1c9bf2;
  text-decoration: none; }
  /* line 6, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/links.sass */
  a:hover {
    color: #0b71b7; }
  /* line 8, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/links.sass */
  a:active {
    color: #085387; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/* line 7, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/body.sass */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 16, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/body.sass */
body {
  margin: 0; }

/* line 10, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/html5.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* line 29, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/html5.sass */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/* line 41, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/html5.sass */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 50, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/html5.sass */
[hidden],
template {
  display: none; }

/* line 8, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/links.sass */
a {
  background: transparent; }

/* line 15, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/links.sass */
a:active,
a:hover {
  outline: 0; }

/* line 8, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/text-semantics.sass */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 15, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/text-semantics.sass */
b,
strong {
  font-weight: bold; }

/* line 23, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/text-semantics.sass */
dfn {
  font-style: italic; }

/* line 31, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/text-semantics.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 39, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/text-semantics.sass */
mark {
  background: yellow;
  color: black; }

/* line 47, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/text-semantics.sass */
small {
  font-size: 80%; }

/* line 54, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/text-semantics.sass */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 62, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/text-semantics.sass */
sup {
  top: -0.5em; }

/* line 65, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/text-semantics.sass */
sub {
  bottom: -0.25em; }

/* line 8, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/embedded-content.sass */
img {
  border: 0; }

/* line 15, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/embedded-content.sass */
svg:not(:root) {
  overflow: hidden; }

/* line 8, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/grouping.sass */
figure {
  margin: 1em 40px; }

/* line 15, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/grouping.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 24, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/grouping.sass */
pre {
  overflow: auto; }

/* line 31, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/grouping.sass */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 16, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 29, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
button {
  overflow: visible; }

/* line 39, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
button,
select {
  text-transform: none; }

/* line 53, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 62, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 70, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 80, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
input {
  line-height: normal; }

/* line 91, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 102, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 112, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 124, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 132, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 142, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
legend {
  border: 0;
  padding: 0; }

/* line 150, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
textarea {
  overflow: auto; }

/* line 158, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/forms.sass */
optgroup {
  font-weight: bold; }

/* line 8, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/tables.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 12, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/normalize/tables.sass */
td,
th {
  padding: 0; }

/* clear fix */
/* line 13, ../../../sass/shoestring/clearfix.sass */
.clearfix:before, .container:before, .full-width-container:before, .column:before,
.clearfix:after,
.container:after,
.full-width-container:after,
.column:after {
  content: " ";
  display: table; }

/* line 18, ../../../sass/shoestring/clearfix.sass */
.clearfix:after, .container:after, .full-width-container:after, .column:after {
  clear: both; }

/* line 26, ../../../sass/shoestring/clearfix.sass */
.clearfix, .container, .full-width-container, .column {
  *zoom: 1; }

/* line 19, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/mixins.sass */
.border-tester {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: black;
  width: 100px;
  height: 100px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 19, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/mixins.sass */
.border-tester {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: black;
  width: 100px;
  height: 100px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 26, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
a.button, a.button:visited, input[type=button].button, input[type=submit].button, button.button {
  color: black;
  display: inline-block;
  border: 1px solid black;
  background: white;
  text-decoration: none;
  padding: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  /* line 28, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
  a.button:hover, input[type=button].button:hover, input[type=submit].button:hover, button.button:hover {
    background: white; }
  /* line 30, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
  a.button:active, input[type=button].button:active, input[type=submit].button:active, button.button:active {
    background: #b3b3b3; }
  /* line 35, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
  a.button.primary, input.primary[type=button].button, input.primary[type=submit].button, button.primary.button {
    color: white;
    background: #428bca;
    border: 2px solid #428bca; }
    /* line 39, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
    a.button.primary:hover, input.primary[type=button].button:hover, input.primary[type=submit].button:hover, button.primary.button:hover {
      background: #3071a9;
      border: 2px solid #3071a9; }
    /* line 42, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
    a.button.primary:active, input.primary[type=button].button:active, input.primary[type=submit].button:active, button.primary.button:active {
      background: #2a6496;
      border: 2px solid #2a6496; }
  /* line 35, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
  a.button.success, input.success[type=button].button, input.success[type=submit].button, button.success.button {
    color: white;
    background: #5cb85c;
    border: 2px solid #5cb85c; }
    /* line 39, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
    a.button.success:hover, input.success[type=button].button:hover, input.success[type=submit].button:hover, button.success.button:hover {
      background: #449d44;
      border: 2px solid #449d44; }
    /* line 42, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
    a.button.success:active, input.success[type=button].button:active, input.success[type=submit].button:active, button.success.button:active {
      background: #3d8b3d;
      border: 2px solid #3d8b3d; }
  /* line 35, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
  a.button.info, input.info[type=button].button, input.info[type=submit].button, button.info.button {
    color: white;
    background: #5bc0de;
    border: 2px solid #5bc0de; }
    /* line 39, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
    a.button.info:hover, input.info[type=button].button:hover, input.info[type=submit].button:hover, button.info.button:hover {
      background: #31b0d5;
      border: 2px solid #31b0d5; }
    /* line 42, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
    a.button.info:active, input.info[type=button].button:active, input.info[type=submit].button:active, button.info.button:active {
      background: #28a1c5;
      border: 2px solid #28a1c5; }
  /* line 35, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
  a.button.warning, input.warning[type=button].button, input.warning[type=submit].button, button.warning.button {
    color: white;
    background: #f0ad4e;
    border: 2px solid #f0ad4e; }
    /* line 39, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
    a.button.warning:hover, input.warning[type=button].button:hover, input.warning[type=submit].button:hover, button.warning.button:hover {
      background: #ec971f;
      border: 2px solid #ec971f; }
    /* line 42, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
    a.button.warning:active, input.warning[type=button].button:active, input.warning[type=submit].button:active, button.warning.button:active {
      background: #df8a13;
      border: 2px solid #df8a13; }
  /* line 35, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
  a.button.danger, input.danger[type=button].button, input.danger[type=submit].button, button.danger.button {
    color: white;
    background: #d9534f;
    border: 2px solid #d9534f; }
    /* line 39, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
    a.button.danger:hover, input.danger[type=button].button:hover, input.danger[type=submit].button:hover, button.danger.button:hover {
      background: #c9302c;
      border: 2px solid #c9302c; }
    /* line 42, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
    a.button.danger:active, input.danger[type=button].button:active, input.danger[type=submit].button:active, button.danger.button:active {
      background: #b52b27;
      border: 2px solid #b52b27; }

/* line 47, /home/vagrant/code/mks/frontend/first-shoestring-website/sass/shoestring/buttons.sass */
input[type=button].button, input[type=submit].button, button.button {
  cursor: pointer;
  outline: none; }

/* line 11, ../../../sass/shoestring/main.sass */
.title {
  color: black;
  font-family: Lobster;
  font-size: 4rem;
  padding: 0;
  float: left; }
  /* line 17, ../../../sass/shoestring/main.sass */
  .title.right {
    float: right; }
  /* line 19, ../../../sass/shoestring/main.sass */
  .title.center {
    float: none; }

/* line 22, ../../../sass/shoestring/main.sass */
.food.trucks {
  list-style: none; }

/* line 25, ../../../sass/shoestring/main.sass */
a.button.danger, input.danger[type=button].button, input.danger[type=submit].button, button.danger.button {
  font-size: 0.2rem;
  clear: both;
  float: left; }
  /* line 29, ../../../sass/shoestring/main.sass */
  a.button.danger.right, input.danger.right[type=button].button, input.danger.right[type=submit].button, button.danger.right.button {
    float: right; }
  /* line 31, ../../../sass/shoestring/main.sass */
  a.button.danger.center, input.danger.center[type=button].button, input.danger.center[type=submit].button, button.danger.center.button {
    float: none; }

/* line 35, ../../../sass/shoestring/main.sass */
#introimg {
  width: 50%;
  min-width: 20em; }
